.header{
    position: absolute;
    background: rgba(217, 217, 217, 0.2);
    padding: 4rem 5.5rem;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 777;
    .logo-img{
        width: 27.7rem;
        height: 4.6rem;
        margin-left: 15rem;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left{
        display: flex;
        align-items: center;
        gap: 5.9rem;
        a{
            font: 700 1.8rem $font-family;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #fff;  
        }
    }
    &__call{
        display: flex;
        gap: 5.1rem;
        align-items: center;
        font: 700 1.8rem $font-family;
        text-transform: uppercase;
        color: #fff;
    }
    &__call-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font: 400 1.3rem $third-family;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        width: 4rem;
        height: 4rem;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 4rem;
            height: 4rem;
            border: 0.2rem solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            animation: pulse1 2s infinite;
        }
        &::before{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 4rem;
            height: 4rem;
            border: 0.2rem solid rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            animation: pulse2 1.7s infinite;
        }
        @keyframes pulse1 {
            0% {
                transform: translate(-50%, -50%) scale(1);
            }
            50% {
                transform: translate(-50%, -50%) scale(1.3);
            }
            100% {
                transform: translate(-50%, -50%) scale(1);
            }
        }
        @keyframes pulse2 {
            0% {
                transform: translate(-50%, -50%) scale(1);
            }
            50% {
                transform: translate(-50%, -50%) scale(1.5);
            }
            100% {
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
    &__info{
        display: flex;
        align-items: center;
        gap: 9.5rem;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
        height: 3.9rem;
        span{
            display: block;
            background: #fff;
        }
        span:nth-child(1){
            width: 4.7rem;
            height: 0.2rem;
        }
        span:nth-child(2){
            width: 2.4rem;
            height: 0.2rem;
        }
        span:nth-child(3){
            width: 5.6rem;
            height: 0.2rem;
        }
    }
    &__fixed{
        position: absolute;
        top: 53rem;
        display: flex;
        gap: 3.5rem;
        align-items: center;
        transform: rotate(-90deg);
        left: -30.5rem;
        .line{
            border: 1px solid rgba(246, 240, 228, 0.25);
            width: 12rem;
            height: 0rem; 
        }
        span{
            font: 400 1.8rem $font-family;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #f6f0e4; 
        }
    }
    &__socials{
        display: flex;
        font: 400 2rem / 0.7 $second-family;
        text-align: center;
        color: #f6f0e4;
        gap: 4rem;
        a{
            transform: rotate(90deg);
            color: #f6f0e4;
        }
    }
    &.dark{
        .header__call{
            color: #000;
        }
        .hamburger span{
            background: #000 !important;
        }
        .header__call-icon{
            color: #000;
            background:  rgba(0, 0, 0, 0.15);
            &:after{
                border-color: rgba(0, 0, 0, 0.3);
            }
            &:before{
                border-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.main-section{
    min-height: 100vh;
    background: url('../images/bg.jpg');
    background-size: cover;
    &__content{
        padding-top: 20rem;
        padding-left: 33rem;
    }
    &__subtitle{
        font: 400 2.4rem / 1.14583 $font3;
        letter-spacing: 0.52em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 9rem;
    }
    .logo{
        width: 100.2rem;
        height: 16.7rem;
        margin-bottom: 9rem;
    }
    &__text{
        font: 400 3.2rem / 1.4 $font-family;
        color: #f6f0e4;
        max-width: 110rem;
        margin-bottom: 3rem;
    }
    &__btn{
        font: 700 1.8rem $font-family;
        padding: 3rem 5rem;
        border-radius: 0.7rem;
        background: #f6f0e4;
        display: block;
    }
}

.about{
    background: url('../images/about-bg.png');
    background-size: cover;
    padding-top: 16rem;
    min-height: 100vh;
    padding-bottom: 6rem;
    .container{
        border-radius: 0.7rem;
        width: 162rem;
        background: rgba(246, 240, 228, 0.5);
        margin: auto;
        padding: 4.5rem 7.5rem;
    }
    &__text{
        span{
            font: 700 3.2rem / 1.4 $font-family;
        }
        font: 400 3.2rem / 1.4 $font-family;
        margin-bottom: 3.5rem;
    }
    &__block{
        margin-bottom: 13rem;
    }
    &__advantages-title{
        font: 700 3.2rem / 1.4 $font-family;
        color: #000;
        margin-bottom: 5rem;
        text-align: center;
    }
    &__advantages-inner{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 15rem;
        a{
            display: flex;
            align-items: center;
            gap: 3rem;
            width: 60rem;
            font: 400 3.2rem / 1.4 $font-family;
            color: #000;
        }
    }
    &__btn{
        display: block;
        margin: auto;
        margin-top: 6rem;
        width: 38.7rem;
        padding: 3rem 5rem;
        background: #f6f0e4;
        font: 700 1.8rem $font-family;
        letter-spacing: 0.35em;
        text-transform: uppercase;
        text-align: center;
        color: #3c4b46;
        border-radius: 0.7rem;
    }
}

.objects{
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background: url('../images/Objects.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    &__item{
        position: relative;
        width: 33%;
        img{
            width: 100%;
            height: 100vh;
        }
        .title{
            position: absolute;
            z-index: 777;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font: 400 3.2rem $font4;
            text-transform: uppercase;
            color: #fff;
        }
    }
    button{
        transform: translate(-50%);
        left: 50%;
        position: absolute;
        bottom: 3rem;
        padding: 3rem 5rem;
        background: #f6f0e4;
        border-radius: 0.7rem;
        font: 700 1.8rem $font-family;
        letter-spacing: 0.35em;
        text-transform: uppercase;
    }
}

.blog{
    display: flex;
    align-items: flex-start;
    gap: 6rem;
    &__info{
        background: url('../images/blog-info.png');
        min-height: 100vh;
        height: 100vh;
        width: 33%;
        padding-left: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 5rem;
        background-size: cover;
        position: sticky;
        top: 0;
    }
    &__title{
        font: 400 3.2rem / 1.1 $font-family;
        color: #fff;
        margin-bottom: 7rem;
    }
    &__text{
        font: 400 1.8rem / 1.3 $font-family;
        color: #fff; 
        max-width: 36.2rem;
        margin-bottom: 15rem;
    }
    &__btn{
      padding: 3rem 5rem;
      background: #f6f0e4;
      border-radius: 0.7rem;
      font: 700 1.8rem $font-family;
        letter-spacing: 0.35em;
        text-transform: uppercase;
        text-align: center;
        color: #3c4b46;
        width: 37.2rem;
        margin-left: 2rem;
    }
    &__list{
        padding-top: 15rem;
        display: flex;
        gap: 2.3rem;
        flex-direction: column;
    }
    &__item{
        position: relative;
        width: 114.1rem;
        display: flex;
        gap: 5rem;
        background: #f6f0e4;
        height: 35.5rem;
        img{
            width: 39.9rem;
            height: 35.5rem;
            object-fit: cover;
        }
    }
    &__item-img{
        width: 39.9rem;
        height: 35.5rem;
        position: relative;
        span{
            font: 700 1.8rem / 1.1 $font-family;
            text-transform: uppercase;
            color: #fff;
            position: absolute;
            left: 3.5rem;
            bottom: 4rem;
        }
    }
    p{
        padding-top: 3rem;
        font: 400 1.8rem / 1.4 $font-family;
        color: #000;
        padding-right: 2.5rem;
    }
    .link{
        display: flex;
        align-items: center;
        position: absolute;
        gap: 2rem;
        right: 2.5rem;
        bottom: 2.5rem;
        span{
            font: 400 1.8rem / 1.4 $font-family;
            color: #000;
            text-decoration: underline;
            text-underline-offset: 0.5rem;
        }
        img{
            width: 3.7rem;
            height: 3.7rem;
        }
    }
}

.contacts{
    min-height: 100vh;
    background: url('../images/contacts-bg.png');
    background-size: cover;
    padding-top: 13.5rem;
    padding-left: 15rem;
    &__content{
        height: calc(100vh - 13.5rem);
        background: rgba(0, 0, 0, 0.56);
        padding: 7.7rem;
    }
    &__inner{
        display: flex;
        height: 57rem;
        background: rgba(189, 204, 212, 0.8);
    }
    &__info{
        padding: 7rem;
        width: 49.4rem;
        padding-top: 13rem;
        a{
            font: 700 1.8rem $font-family;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.56);
            margin-bottom: 3.5rem;   
        }
    }
    &__title{
        font: 400 3.2rem / 1.4 $font-family;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.65);
        margin-bottom: 6rem; 
    }
    &__adress{
        margin-top: 6rem;
        font: 700 2rem $font-family;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.56); 
    }
    &__map{
        iframe{
            width: 112.9rem;
            height: 57rem;
        }
    }
    &__btn{
        display: block;
        font: 700 1.8rem $font-family;
        letter-spacing: 0.35em;
        text-transform: uppercase;
        text-align: center;
        color: #3c4b46;
        padding: 3rem 5rem;
        background: #f6f0e4;
        border-radius: 0.7rem;
        width: 36.2rem;
        margin: auto;
        white-space: nowrap;
        margin-top: 4rem;
    }
}

.modal{
    z-index: 777;
    .close{
        position: absolute;
        display: none;
    }
    .modal-content{
        padding: 1.5rem 3rem 5rem;
        width: 100%;
        max-width: 93.9rem;
        background: rgba(189, 204, 212, 0.99);
        &__logo img{
            display: block;
            width: 27.7rem;
            margin-left: auto;
            margin-bottom: 3rem;
        }
        &__form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            input{
                font: 400 1.8rem $font-family;
                letter-spacing: 0.16em;
                color: #000;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                width: 63.4rem;
                padding-bottom: 2.5rem;
            }
            button{
                font: 700 1.8rem $font-family;
                letter-spacing: 0.35em;
                text-transform: uppercase;
                color: #3c4b46;
                padding: 3rem 5rem;
                border-radius: 0.7rem;
                background: #f6f0e4;
            }
        }
    }
  }

.footer{
    background: url('../images/footer.png');
    padding: 6.3rem 6.5rem;
    background-size: cover;
    &__wrapper{
        display: flex;
        gap: 27rem;
    }
    &__logo{
        display: block;
        margin-bottom: 19.5rem;
        img{
            width: 31.8rem;
            height: 5.3rem;
        }
    }
    &__links{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        a{
            font: 400 1.5rem $font5;
            color: #000; 
        }
    }
    &__actions{
        padding-top: 9rem;
    }
    &__title{
        font: 700 1.8rem $font-family;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 1.5rem;
    }
    &__wrap{
        display: flex;
        gap: 3rem;
    }
    &__adress{
        font: 400 1.8rem $font-family;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #000;
        text-decoration: underline;
    }
    &__form{
        display: flex;
        align-items: flex-end;
        input{
            font: 400 1.8rem $font-family;
            border: none;
            border-bottom: 0.1rem solid #000;
            width: 57rem;
            margin-bottom: 1.5rem;
        }
    }
    &__title{
        margin-bottom: 1.5rem;
    }
    &__tel{
        font: 400 1.8rem $font-family;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #000;
        &:nth-child(3){
            margin-bottom: 5rem;
        }
    }
    &__socials-title{
        font: 700 1.8rem $font-family;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 1.3rem;
    }
    &__socials-wrap{
        font: 400 2rem / 0.7 $second-family;
        text-align: center;
        color: #000;
        display: flex;
        gap: 2.5rem;
        a{
            color: #000;
        }
    }
}

.nav{
    position: absolute;
    right: 0;
    width: 33rem;
    top: 13.5rem;
    background: rgba(217, 217, 217, 1);
    transform: translateY(-170%);
    transition: all 0.3s;
    &.visible{
        transform: translateY(0%); 
    }
    a{
        font: 700 1.8rem $font-family;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000;
        padding: 2rem 2.1rem;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        display: flex;
        svg{
          width: 2.1rem;  
        }
    }
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1; /* Над другими элементами */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    max-width: 500px; /* Максимальная ширина */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.blog-modal{
    z-index: 77777777;
    .modal-content{
        position: relative;
        padding: 8rem;
        border-radius: 0.7rem;
        background: #F6F0E4;
        display: flex;
        gap: 9rem;
        max-width: 164.9rem;
        img{
            width: 40rem;
            height: 70.8rem;
        }
        p{
            font: 400 1.8rem / 1.4 $font-family;
        }
    }
    &__title{
        font: 700 3.2rem / 1.4 $font-family;
        color: #000;
        margin-bottom: 2rem;
        margin-top: -1.9rem;
    }
    .close-btn{
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        img{
            width: 3.6rem;
            height: 3.6rem;
        }
    }
}



.objects-catalog{
    min-height: 100vh;
    display: flex;
    gap: 2rem;
    .blog__title{
        margin-left: 4rem;
        margin-bottom: 5rem;
    }
    .blog__info{
        background: url('../images/catalog.png');
        background-size: cover;
        width: 63rem;
    }
    &__products{
        width: 120.9rem;
    }
    &__wrapper{
        padding-top: 17rem;
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    &__item{
        width: 38rem;
        position: relative;
        padding-bottom: 1.5rem;
        &:hover{
            .overlay{
                opacity: 1;
                visibility: visible;
            }
        }
        .favorite{
            display: none;
            svg{
                width: 3.6rem;
                height: 3.6rem;
            }
        }
        .overlay{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(49, 74, 68, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            button{
                font: 400 1.8rem $font-family;
                letter-spacing: 0.35em;
                text-transform: uppercase;
                text-align: center;
                color: #3c4b46;
                border-radius: 0.7rem;
                padding: 3rem 5rem;   
                background: #f6f0e4;
            }
        }
        img{
            width: 100%;
            height: 22.2rem;
            margin-bottom: 1.5rem;
        }
    }
    &__item-lable{
        font: 400 1.2rem / 1.4 $font-family;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-bottom: 1.5rem;
    }
    &__item-chars{
        display: flex;
        justify-content: center;
        gap: 4.8rem;
    }
    &__item-char{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        svg{
            width: 2.3rem;
            height: 2.3rem;
        }
    }
    &__btn{
        display: block;
        margin: 3rem auto;
        font: 700 1.8rem $font-family;
        letter-spacing: 0.35em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        border-radius: 0.7rem;
        padding: 3rem 5rem;
        width: 34rem; 
        background: #314a44;
        white-space: nowrap;
    }
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;   
    .div1 { grid-area: 1 / 1 / 3 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 2 / 3 / 3; margin-top: -5rem; position: relative;}
    width: 76.2rem;
    height: 53.7rem;
    margin-bottom: 4rem;
}

.catalogModal{
    z-index: 777;
    .modal-content{
        width: 100%;
        max-width: 165rem;
        background: rgba(246, 240, 228, 0.95);
        padding: 1.5rem 3rem 3.5rem;
        position: relative;
    }
    &__inner{
        display: flex;
        gap: 13rem;
    }
    &__descr-title{
       font: 400 3.2rem / 1.1 $font-family;
        color: #000;
        margin-bottom: 1.5rem;
    }
    &__title{
        font: 400 3.2rem / 1.1 $font-family;
        color: #000;
        margin-bottom: 1.5rem; 
    }
    &__adress{
        font: 400 1.8rem / 1.1 $font-family;
        color: #000;
        margin-bottom: 2rem;
    }
    &__descr{
        margin-bottom: 1.7rem;
        p{
            font: 400 1.8rem / 1.2 $font-family;
            color: #000;  
        }
    }
    &__img{
        width: 77rem;
        img{
           width: 100%;
           height: 100%;
        }
        .div1{
            height: 53.7rem;
        }
        .div1 img{
            width: 47.2rem;
            height: 53.7rem;   
        }
        .div2 img{
            width: 29.1rem;
            height: 22.6rem;  
        }
        .div3 img{
            width: 29rem;
            height: 31.8rem; 
        }
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 98.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #fff, $alpha: 0.1);
        backdrop-filter: blur(5px);
        a{
            border-radius: 0.7rem;
            font: 400 1.8rem $font-family;
            letter-spacing: 0.35em;
            text-transform: uppercase;
            text-align: center;
            color: #3c4b46;
            padding: 1.5rem 0.9rem;
            background: #f6f0e4;
        }
    }
    &__information{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }
    &__price{
        font: 400 3.2rem / 1.1 $font-family;
        color: #2b3640;  
    }
    &__chars{
        display: flex;
        gap: 8rem;
    }
    &__char{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.1rem;
        font: 400 1.8rem $font-family;
        text-align: center;
        color: #7b7b7b;
        span{
            font: 400 1.8rem / 1.1 $font-family;
            text-align: center;
            color: #2b3640;  
        }
    }
    .min{
        font: 400 1.8rem $font-family;
        color: #7b7b7b;
        margin-bottom: 2rem;
    }
    &__addr{
        font: 400 1.8rem / 1.2 $font-family;
        color: #2b3640;
        max-width: 37rem;
    }
    &__characteristics{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 38rem;
        overflow: auto;
    }
    &__characteristics-title{
        font: 700 1.8rem / 1.1 $font-family;
        color: #000;   
    }
    &__characteristics-item{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
        border-top: 0.1rem solid #3c4b46;
        font: 400 1.8rem / 1.2 $font-family;
        color: #000;
        span{
            font: 700 1.8rem / 1.2 $font-family; 
        }
        &:nth-child(1){
            border: none;
        }
    }
    &__characteristics-btn{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font: 700 2rem / 1.1 $font-family;
        color: #3c4b46;
        svg{
            width: 1rem;
            height: 0.7rem;
        }
    }
    &__btn-offer{
        position: absolute;
        padding: 3rem 3.9rem;
        background: #314a44;
        border-radius: 0.7rem;
        font: 700 1.8rem $font-family;
        letter-spacing: 0.35em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .close-catalog-btn{
        position: absolute;
        top: 3rem;
        right: 3rem;
    }
}

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      border: 0.1px solid #000;
      width: 1.7rem;
        height: 2rem;
    }
    
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      width: 3rem;
      height: 2.4rem;
      background-size: cover !important;
      background: url('../images/check.png');
      background-repeat: no-repeat;
      left: -0.06rem;
        top: -0.4rem;
    }
  }

.filters{
    min-height: 100vh;
    background: url('../images/filters.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 130rem;
        height: 70.2rem;
        background: rgba(60, 75, 70, 0.8);
        margin-top: 13rem;
        border: 0.1rem solid #fff;
    }
    &__title{
        font: 700 1.8rem $font-family;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 2rem;
        padding: 2rem;
        border-bottom: 0.1rem solid #fff;
    }
    &__flex{
        display: flex;
        justify-content:space-between;
        padding: 0 2rem;
        margin-bottom: 3.7rem;
    }
    &__item{
        select{
            width: 30rem;
            border: none;
            border-bottom: 0.1rem solid #fff;
            padding-bottom: 0.7rem;
            outline: none;
            font: 400 1.8rem $font-family;
            letter-spacing: 0.1em;
            text-transform: capitalize;
            color: #fff;
        }
        input{
            font: 400 1.8rem $font-family;
            letter-spacing: 0.1em;
            text-transform: capitalize;
            color: #fff;
            border: none;
            border-bottom: 0.1rem solid #fff;
            padding-bottom: 0.7rem;
            outline: none;
            width: 13.5rem;
            margin-right: 2rem;
            &::placeholder{
                color: #fff;
            }
        }
    }
    &__item-title{
        font: 400 1.8rem $font-family;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 2rem;  
    }
    .checks{
        padding: 0 2rem;
        margin-bottom: 9.7rem;
        .descr{
            display: flex;
            align-items: center;
            margin-bottom: 1.7rem;
        }
        label{
            font: 400 1.8rem $font-family;
            letter-spacing: 0.16em;
            color: #fff;
        }
        .styled-checkbox{
            & + label:before {
                border: 0.1px solid #fff !important;
            }
        }
    }
    &__big{
        padding: 0 2rem;
        .filters__flex{
            padding: 0;
            margin-bottom: 5rem;
        }
    }
    &__big-title{
        font: 700 1.8rem $font-family;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff; 
        margin-bottom: 5rem;   
    }
}

.modal-content__success{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
       margin-bottom: 3rem; 
    }
    .modal-content__success-title{
        font: 700 1.8rem $font-family;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-bottom: 3rem; 
    }
    .modal-content__success-text{
        letter-spacing: 0.16em;
        font: 400 1.8rem $font-family;
        text-align: center;
    }
}

.contact-modal{
    z-index: 7777777777777777;
}

  


@media (max-width: 962px){
    .contact-modal.done .modal-content__logo{
        display: none;
    }
    .filters .container{
        width: 95%;
        margin: auto;
        margin-top: 11rem;
        margin-bottom: 5rem;
    }
    .filters__flex{
        flex-direction: column;
        gap: 2.5rem;
    }
    .filters .checks{
        margin-bottom: 3rem;
    }
    .filters .container{
        height: 100%;
    }
    .modal .modal-content{
        padding: 3rem 1.5rem;
        max-width: 90%;
    }
    .modal-content__btn{
        padding: 2rem !important;
        font-size: 1.6rem !important; 
    }
    .modal .modal-content__logo img{
        margin: auto;
        margin-bottom: 3rem;
    }
    .modal .modal-content__form input{
        width: 100%;
    }
    html{
        font-size: calc(100vw / 390 * 10);
    }
    .main-section__content{
        padding-left: 3rem;
        padding-top: 27rem;
    }
    .header{
        padding: 1.5rem ;
    }
    .header__fixed{
        display: none;
    }
    .main-section__subtitle{
        font-size: 1.8rem;
        max-width: 70%;
        margin-bottom: 3rem;
        br{
            display: none;
        }
    }
    .main-section .logo{
        width: 29rem !important;
        height: 7rem !important;
        margin-bottom: 5rem !important;
    }
    .header__tel{
        display: none;
    }
    .main-section__btn{
        padding: 1.5rem 3rem;
    }
    .header__call{
        display: none;
    }
    .footer__wrapper{
        display: flex;
        flex-direction: column-reverse;
        gap: 5rem;
    }
    .footer{
        padding: 5rem 3rem;
    }
    .footer__logo{
        margin-bottom: 3rem;
    }
    .footer__wrap{
        flex-direction: column;
        input{
            width: 100%;
            padding-bottom: 1rem;
        }
    }
    .footer__actions{
        padding-top: 5rem;
    }
    .footer__form img{
        width: 2.5rem;
        margin-left: 1rem;
        margin-top: -1.5rem;
    }
    .nav{
        width: 100%;
        top: 9rem;
    }
    .about__text{
        font-size: 1.6rem;
        span{
            font-size: 1.6rem;
        }
    }
    .about .container{
        width: 100%;
        padding: 2rem;
    }
    .about{
        padding-top: 11rem !important;
        padding: 0 1rem;
        padding-bottom: 5rem;
    }
    .logo-img{
        display: none;
    }
    .about__block{
        margin-bottom: 5rem;
    }
    .about__advantages-title{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .about__advantages-item img{
        width: 5rem;
    }
    .about__advantages-item{
        align-items: center;
        font-size: 1.8rem;
    }
    .about__advantages-inner a{
        font-size: 1.8rem;
    }
    .about__btn{
        width: 100%;
        padding: 2rem;
    }
    .objects{
        padding-top: 5rem;
        flex-direction: column;
        justify-content: flex-start;
    }
    .objects__item{
        width: 100%;
        height: 20rem;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    .blog{
        flex-direction: column;
    }
    .blog__info{
        padding-top: 12rem;
        width: 100%;
        padding-left: 3rem;
        justify-content: flex-start;
        position: static;
        height: 60vh;
        min-height: 60vh;
    }
    .blog__btn{
        width: 91%;
        margin: 0;
        padding: 2rem;
    }
    .blog__title{
        margin-bottom: 3rem;
    }
    .blog__text{
        margin-bottom: 5rem;
    }
    .blog__list{
       padding-top: 0rem;
       margin-top: -3rem;
    }
    .blog__item{
        width: 100%;
    }
    .contacts{
        padding: 1.5rem;
        padding-top: 11rem;
    }
    .contacts__content{
        padding: 1.5rem;
    }
    .contacts__inner{
        flex-direction: column;
    }
    .contacts__info{
        padding: 3rem;
    }
    .contacts__title{
        margin-bottom: 3rem;
    }
    .contacts__info{
        width: 100%;
    }
    .contacts__adress{
        width: 100%;
        font-size: 1.5rem !important;
    }
    .contacts__map iframe{
        width: 100%;
        height: 27rem;
    }
    .contacts__content{
        height: 100%;
    }
    .contacts__btn{
        width: 100%;
        margin-top: 5rem;
        padding: 2rem;
    }
    .contacts__info a{
        margin-bottom: 1.5rem;
    }
    .contacts__adress{
        margin-top: 3rem;
    }
    .main-section{
        min-height: 100dvh;
        padding-bottom: 5rem;
    }
    .main-section__content{
        padding-top: 15rem;
    }
    .blog{
        gap: 0;
    }
    .blog__btn {
        position: relative;
        z-index: 777;
        margin-top: -2rem;
    }
    .blog__item{
        flex-direction: column;
        height: auto;
        gap: 2rem;
    }
    .blog p{
        padding: 2rem;
        padding-bottom: 7rem;
    }
    .blog-modal .modal-content{
        width: 90%;
        padding: 2rem;
        flex-direction: column;
    }
    .blog-modal{
        display: none !important;
    }
    .blog-modal .modal-content img{
        width: 100%;
        height:  20rem;
    }
    .blog-modal .modal-content p{
        padding-top: 7rem;
    }
    .blog__item-img{
        width: 100%;
    }
    .blog__item img{
        width: 100%;
    }
    .objects-catalog{
        flex-direction: column;
    }
    .objects-catalog__wrapper{
        flex-direction: column;
    }
    .objects-catalog .blog__info{
        width: 100%;
    }
    .objects-catalog__wrapper{
        padding: 3rem 2rem;;
    }
    .objects-catalog__item{
        width: 100%;
    }
    .objects-catalog__products{
        width: 100%;
    }
    .catalogModal{
        justify-content: flex-start;
        align-items: flex-start;
        top: 0rem;
        background: transparent;
    }
    .catalogModal__inner{
        display: block;
        padding-bottom: 5rem;
    }
    .catalogModal__img .div1 img{
        width: 20rem;
        height: 23rem;
    }
    .catalogModal__img .div1{
        height: 23rem;
    }
    .catalogModal .modal-content{
        padding-top: 5rem;
        // border-radius: 3rem 3rem 0 0;
        background: rgba(246, 240, 228, 1);
    }
    .parent{
        width: 100%;
    }
    .catalogModal__btn-offer{
        bottom: 1rem;
        padding: 2rem;
        font-size: 1.8rem;
        white-space: nowrap;
    }
    .parent{
        width: 33rem;
        height: 23rem;
    }
    .catalogModal__img .div2 img{
        width: 14rem;
        height: 15rem;
    }
    .catalogModal__img .div3 img{
        width: 14rem;
        height: 12.5rem;
    }
    .catalogModal .overlay{
        display: none;
    }
}
